/* $Id: style.css,v 1.44.2.16 2011/01/06 09:45:33 danprobo Exp $ */

/* Fonts
-------------------------------------------------------------- */
h1,.h1{
	font-size:200%;
	font-family:Arial, Helvetica, sans-serif;
}

h1.title{
	line-height:30%;
	text-transform:uppercase;
}

h2,.h2{
	font-size:150%;
	font-family:Arial, Helvetica, sans-serif;
}

h3,.h3{
	font-size:300%;
	font-family:Arial, Helvetica, sans-serif;
}

h4,.h4{
	font-size:400%;
	font-family:Arial, Helvetica, sans-serif;
}

p, .p{
	font-family:Arial, Helvetica, sans-serif;
}

p.title {
	line-height:30%;
	font-weight:bold;
	margin-bottom:40px;
}

a:link {
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#006cff;
}
 
a:hover {
	color:#00a8ff;
}

a:visited {
	color:#8130af;
}

a.one:link {
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#ff0000;
}
a.one:visited {
	color:#0000ff;
}
a.one:hover {
	color:#ffcc00;
}

/* Body
-------------------------------------------------------------- */
body {
	text-align:centre;
	background-color:#999;
	font-size:72%;
	font-family:Arial, Helvetica, sans-serif;
	color:#444;
	margin:0;
	padding:0;
	line-height:1.5em;
	height:100%;
}

#main-wrapper {
	text-align:center;
	background:#ffffff;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
	min-height: 640px;
	height:100%;
}

#wrapper {
	text-align:left;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#wrapper_login {
	text-align:center;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	min-height: 500px;
	height:100%;
}

table {

}

th {
	font-size:100%;
	font-weight:bold;
}

td {

}

table.tbl_registration {
	text-align:center;
	border:0px solid #666;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
}

.tbl_registration td {
	line-height:1.1em;
	padding: 5px 15px 5px 15px;
}

.tbl_registration input {
}

table.list {
	text-align:center;
	border:0px solid #666;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

th.list {
	line-height:1.1em;
	padding: 5px 0px 5px 0px;
}

td.list {
	border:0px solid #666;
}

input,select,textarea {
   font-family: inherit;
   font-size: inherit;
}

table.wborder {
	text-align:center;
    border:1px solid #c9c9c9;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

.wborder td {
    border:1px solid #c9c9c9;
}

.wborder th {
	line-height:1.1em;
	padding: 5px 0px 5px 0px;
	border:1px solid #c9c9c9;
	background-color: #e9e9e9;
}

.wborder tr:nth-child(even) {
	background-color: #f9f9f9;
}

table.new {
	width: 960px;
	border:0px solid #999;
	padding:0px;
	margin:0px;
	border-collapse: collapse;
}

.new td {
	padding:5px;
}

table.outcomebox {
	border:1px solid #999;
	padding:10px 40px 10px 40px;
	margin:60px 0px 40px 0px;
}

.outcomebox th {
	text-align: left;
}
.outcomebox td {
	text-align: center;
}

table.participantinfo {
	width: 960px;
	border:1px solid #c9c9c9;
	padding:3px;
	margin:0px;
	border-collapse: collapse;
}

.participantinfo tr:nth-child(even) {
	background-color: #f9f9f9;
}

.participantinfo th {
	padding: 3px 20px 3px 20px;
	background:#d9d9d9;

}

.participantinfo th a {
	font-weight: normal;
}

.participantinfo td {
	border:1px solid #c9c9c9;
	padding: 3px 10px 3px 10px;
	vertical-align: middle;
}

table.searchfilters {
	width:960px;
	padding:0px; 
	margin:0px;
	border-collapse: collapse;
}

.searchfilters th {
	padding: 3px 20px 3px 20px;
	border-bottom:3px solid #d24804;
}

.searchfilters td {
	padding: 7px 3px 2px 3px; /* top right bottom left*/
	border:0px solid #999;
	vertical-align: middle;
	background-color:#ededed;
}

table.dashboard_main {
	width:960px;
	border:0px solid #666;
	border-collapse: collapse;
}

.dashboard_main td {
	vertical-align:top;
	padding:0px 0px 45px 0px; 
}

table.dashboard_left {
	width:460px;
	padding:0px; 
	margin:0px;
	border:2px solid #cdcdcd;
	border-collapse: collapse;
}

.dashboard_left th {
	color:#cdcdcd;
	line-height:1.1em;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #666;
	background-color: #333;
	text-align:center;
}

.dashboard_left th.th_header {
	color:#333;
	padding: 5px 5px 5px 5px;
	text-align:left;
	background: #aaa; /* fallback for older/unsupporting browsers */  
	background: -webkit-linear-gradient(top,#fff 1%,#cdcdcd 5%,#aaa 50%,#cdcdcd 95%,#fff 99%);
	background: linear-gradient(top,red 10%,yellow 30%,green 60%);
	border-top: 1px solid #999;
	border-bottom: 1px solid #000;
}

.dashboard_left td {
	padding: 2px 3px 2px 3px; /* top right bottom left*/
	border:0px solid #999;
	vertical-align: middle;
	text-align:center;
}

.dashboard_left img {
	padding:0px 5px 0px 0px; /* top right bottom left*/
	margin:0px;
	height:15px;
	position:relative; 
	top:2px;
}

.dashboard_left tr:nth-child(even) {
	background-color: #e6e6e6;
}

table.dashboard_right {
	width:460px;
	padding:0px; 
	margin:0px;
	border:2px solid #cdcdcd;
	border-collapse: collapse;
}

.dashboard_right th {
	color:#cdcdcd;
	line-height:1.1em;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #666;
	background-color: #333;
	text-align:center;
}

.dashboard_right th.th_header {
	color:#333;
	padding: 5px 5px 5px 5px;
	text-align:left;
	background: #aaa; /* fallback for older/unsupporting browsers */  
	background: -webkit-linear-gradient(top,#fff 1%,#cdcdcd 5%,#aaa 50%,#cdcdcd 95%,#fff 99%);
	background: linear-gradient(top,red 10%,yellow 30%,green 60%);
	border-top: 1px solid #999;
	border-bottom: 1px solid #000;
}

.dashboard_right td {
	padding: 2px 3px 2px 3px; /* top right bottom left*/
	border:0px solid #999;
	vertical-align: middle;
	text-align:center;
}

.dashboard_right img {
	padding:0px 5px 0px 0px; /* top right bottom left*/
	margin:0px;
	height:15px;
	position:relative; 
	top:2px;
}

.dashboard_right tr:nth-child(even) {
	background-color: #e6e6e6;
}

#iframe {
	background:#fff;
}

#dashboard_iframe {
	height:320px;
	width:520px;
	border:0px;
}

#fitbit_iframe {
	height:640px;
	width:960px;
	border:0px;
}


/* ------------------------------------------ BUTTON START ------------------------------------------ */

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777 !important;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:14px 35px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width:200px;
	text-align:center;
	line-height:1.2;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	color:#555 !important;
}.classname:active {
	position:relative;
	top:1px;
}
a:visited.classname { 
	color: #777; 
	font-size:24px;
	text-decoration: none; 
}
/* This imageless css button was generated by CSSButtonGenerator.com */


/* ------------------------------------------ BUTTON END ------------------------------------------ */


/* ------------------------------------------ TOP MENU START ------------------------------------------ */
#div_login {
	background-color:#000000;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:164px;
	border-bottom:1px solid #000; /*just to add a little more good look*/
}

#login_header {
	text-align:center;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#div_header {
	background-color:#333;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:84x;
}

#tbl_header {
	text-align:center;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
/* ------------------------------------------ TOP MENU END ------------------------------------------ */


/* ------------------------------------------ MENU START ------------------------------------------ */
.main_menu{
	width:100%;
	max-width: 100%;
	background:url(images/menu_bg.png) repeat-x right transparent;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:111px;
	border: 0px solid #dedede;
}

.main_menu ul{
	padding:0px;
	margin: 0px;
	list-style: none;
	white-space:nowrap; /*to display each li tag in a line, yet as a block element*/
}

.main_menu ul li{
	display: inline-block; /*to display each li tag in a line, yet as a block element*/
	vertical-align:middle;
	position: relative; /*to make the subitems,absolute positioned div tag stable on its position*/
	border-right: 0px solid #dedede;
}

.main_menu li + li{
	background:url(images/menu_separator.png) no-repeat top left;
}

.main_menu ul li a{
	color:#444;
	font-size:180%;
	text-decoration: none;
	font-weight:bold;
	display: block;
	padding:34px 35px;
	height:40px;
	text-shadow: 1px 1px #ddd;
}

.main_menu .items_descr{
	color:#666;
	font-size:13px;
	font-weight:normal;
	padding-top:5px;
	line-height:15px;
}

.main_menu ul li a:hover{
	color:#ff0000;
}

.sub_items{
	position: absolute;
	background-color: #666666;
	width:200px;
	top:38px;
	left:0px;
	display:none; /*hide the subitems div tag initially*/
	border-bottom:4px solid #5599bb; /*just to add a little more good look*/
}

.sub_items ul li{
	width:200px;
}

.sub_items ul li a{
	color:#ffffff;
	text-decoration: none;
	display: block;
	padding:10px 15px;
}

.sub_items ul li a:hover{
	background-color: #777777;
}
/* ------------------------------------------ MENU END ------------------------------------------ */


#txtHint{
	background-color:#cdcdcd;
	border:1px solid #999;
	text-align:left;
	padding:0px;
	margin:0px;
	height:140px;
	width:280px;
}


/* ------------------------------------------ FOOTER START ------------------------------------------ */
#div_footer{
	background-color:#999;
	border-top:1px solid #999;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:120px;
}

#tbl_footer {
	background-color:#999;
	text-align:center;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
/* ------------------------------------------ FOOTER END ------------------------------------------ */
