
body {
	margin:0;
	padding:0;
	background-image:url('/Form1c/brushed-metal-background-1514.png');
	}
p{
	margin:0 0 10px 0;
	padding:0;
	}

	h2{
	background:#eff;
	justify:centre;
	margin:0;
	padding:0;
	}
	h1{
	background:#85c2ff;
	justify:centre;
	margin:0;
	padding:0;
	}
form{
	font:13px Georgia, "Times New Roman", Times, serif;
	
	margin:25px;
	background:inherit;
	width:3500spx;
	}
form ol {
	list-style:none;
	margin-left:10%;
	margin-right:10%;
	width:80%;
	padding:0;
	background:#ffffff;
	}
form li {
	padding:7px;
	background:#f2f5fd;
	margin-bottom:1px;
	width:100%;
	}
form label {
	float:left;
	text-align:left;
	margin-right:7px;
	color:#0066CC;
	line-height:23px;	 /* This will make the labels vertically centered with the inputs */
	}
form table tr td label  {
	float:left;
	text-align:left;
	margin-right:7px;
	color:#0066CC;
	line-height:23px;	 /* This will make the labels vertically centered with the inputs */
	}
	form ol li>table  {
	width:100%;	 /* This will make the labels vertically centered with the inputs */
	}
	form ol li>table td  {
	width:50%;	 /* This will make the labels vertically centered with the inputs */
	}
form li text{
	padding:4px;
	font:15px Georgia, "Times New Roman", Times, serif;
	border:1px solid #999999;
	width:300px;
	}
form li #captcha{
	font:40px Georgia, "Verdana", Times, serif;
	background:#88812a;
	border:1px solid #999999;
	width:170px;
	height:50px;
	margin-left:280px;
	}
form li file{
	padding:4px;
	font:15px Georgia, "Times New Roman", Times, serif;
	border:1px solid #999999;
	width:300px;
	}
form select{
	padding:4px;
	font:15px Georgia, "Times New Roman", Times, serif;
	border:1px solid #999999;
	length:500px;
	}
form textarea {
	padding:4px;
	font:15px Georgia, "Times New Roman", Times, serif;
	border:1px solid #999999;
	width:300px;
	}
	form ol li textarea {
	
	width:122px;
	}
form text:focus,
form textarea:focus {
	border:1px solid #666;
	background:#e3f1f1;
	}
form li #send button {
	border:none;
	padding:8px 16px 8px 56px;
	border-radius:15%; /* Don't expect this to work on IE6 or 7 */
	-moz-border-radius:15%;
	-webkit-border-radius:15%;			
	color:#fff;
	margin-left:357px; /* Total width of the labels + their right margin */
	cursor:pointer;
	}
form li#send button:hover { 
	background-color:#006633;
	}
.blue{
	font:12px Georgia, "Times New Roman", Times, serif;
 	color:#0066CC;
}
.red{
	font:12px Georgia, "Times New Roman", Times, serif;
	color:#FF0000;
	}
	.intro{}
	.mybutton{
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#393c3d;
	font-family:Arial;
	font-size:17px;
	
	}
	.mybutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #ababab 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #ababab 5%, #ededed 100%);
	background:-o-linear-gradient(top, #ababab 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #ababab 5%, #ededed 100%);
	background:linear-gradient(to bottom, #ababab 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#ededed',GradientType=0);
	background-color:#ababab;
}
.myLoginButton {
	-moz-box-shadow:inset 2px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 2px 0px 0px 0px #ffffff;
	box-shadow:inset 2px 0px 0px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:33px;
	-webkit-border-radius:33px;
	border-radius:33px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Georgia;
	font-size:13px;
	font-weight:bold;
	padding:7px 29px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myLoginButton:hover {
	background-color:#f6f6f6;
}
.myLoginButton:active {
	position:relative;
	top:1px;
}
