.header {
	width: 100%;
	height: 100px;
	background: #C8D0E6;
}

.content {
	margin-left: 6%;
	margin-right: 6%;
	height: 880px;
	background:#d9e6f7;
	
}

.left {
	float: left;
	height: 880px;
	border-radius: 2px;
	width: 20%;
	
	
}

.right {
	float: right;
	height: 880px;
	border-radius: 2px;
	width: 20%;
	
	
}

.center {
	float: left;
	height: 880px;
	width: 58%;
	border:80B2FF;
	
	
}
.footer{
	width: 100%;
	height: 300px;
	background: #C8D0E6;
}

body {
	margin:0px;
	padding:0px;
}
html{
	padding: 0px;
	margin: 0px;
}
#buttonstyle1{
	-moz-box-shadow: inset 2px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 2px 0px 0px 0px #ffffff;
	box-shadow: inset 2px 0px 0px 0px #ffffff;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Georgia;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
	width:80px;
	padding-top:5px;
	padding-bottom:5px;
		
}

.login {
	-moz-box-shadow: inset 2px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 2px 0px 0px 0px #ffffff;
	box-shadow: inset 2px 0px 0px 0px #ffffff;
	background-color: transparent;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Georgia;
	padding-top: 10%;
	padding-bottom: 10%;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
}
.cancel {
	-moz-box-shadow: inset 2px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 2px 0px 0px 0px #ffffff;
	box-shadow: inset 2px 0px 0px 0px #ffffff;
	background-color: transparent;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 2px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Georgia;
	height: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
}


.cancel:hover {
	background-color: #f6f6f6;
}

.cancel:active {
	position: relative;
	top: 1px;
}

.login:hover {
	background-color: #f6f6f6;
}

.login:active {
	position: relative;
	top: 1px;
}
.listRight {
	width: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.listRight  ol {
	display: block;
	width: 90%;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	padding: 0 0px;
}

.listRight ol li {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 2 0px;
}

.listRight ol li a {
	background: #606f7f;
	border-bottom: 1px solid #59636f;
	border-bottom: 1px solid #556371;
	box-shadow: inset 0 1px 0 #606f7f;
	-moz-box-shadow: inset 0 1px 0 #606f7f;
	-webkit-box-shadow: inset 0 1px 0 #606f7f;
	color: #FFFFFF;
	display: block;
	line-height: 15px;
	font-size: 10px;
	font-weight: 600;
	width: 90%;
	padding: 0 5%;
	text-decoration: none;
	font-family: Arial, Verdana, sans-serif;
}

.listRight ol li:hover a {
	background: #4a5662;
	box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}


