<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body>
<table width="100%" border="2">
<tr style="width:100%">
<td style="width:50%">
<b style="height:10%">Customer Code No.</b><br>
<textarea style="width:99%;height:85%"></textarea>
</td>
<td style="width:50%">
	<table border="2" style="width:100%">
		<tr style="width:100%">
			<td style="width:25%">D.M.No.:</td>
			<td style="width:25%"><input type="text"></td>
			<td style="width:25%">Date:</td>
			<td style="width:25%"><input type="text"></td>
		</tr>
		<tr style="width:100%">
			<td colspan="2" style="width:25%">Transporter</td>
			<td colspan="2" style="width:25%"><input type="text"></td>
		</tr>
		<tr style="width:100%">
			<td style="width:25%">Batch No.</td>
			<td style="width:25%"><input type="text"></td>
			<td style="width:25%">Date</td>
			<td style="width:25%"><input type="text"></td>
		</tr>
		<tr style="width:100%">
			<td style="width:25%">Lab Report No.</td>
			<td style="width:25%"><input type="text"></td>
			<td style="width:25%">Date</td>
			<td style="width:25%"><input type="text"></td>
		</tr>
	</table>
</td>
</tr>
</table>
<table border="2" style="width:100%;" id="billTable">
<tr>
	<th>S/No</th>
	<th>ITEM CODE/decription</th>
	<th>Packing</th>
	<th>units</th>
	<th>Quantity</th>
	<th colspan="2">Rate Per unit<br>Rs.</th>
	<th colspan="2">Amount<br>Rs.</th>
	
</tr>
<tr ng-repeat="r in rows">
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
	<td><input type="text" ng-model=""/></td>
</tr>

</table>
<div align="right">
<input type="button" id="addItem" value="Add" ng-click="addItem()">
</div><br>
<table width="100%" border="2">
<tr style="width:100%">
<td style="width:50%">
<b style="height:10%">Amount in words</b><div id="amountWords"></div><br>
</td>
<td style="width:50%">
	<table border="2" style="width:100%">
		<tr style="width:100%">
			<td style="width:25%">Net sales value:</td>
			<td style="width:25%">{{salesValue}}</td>	
		</tr>
		<tr style="width:100%">
			<td style="width:25%">Vat</td>
			<td style="width:25%"><input type="text" ng-model="vat"></td>	
		</tr>
		<tr style="width:100%">
			<td style="width:25%">Cst</td>
			<td style="width:25%"><input type="text" ng-model="cst"></td>
		</tr>
		<tr style="width:100%">
			<td style="width:25%">Total</td>
			<td style="width:25%">{{total}}</td>
		</tr>
	</table>
</td>
</tr>
</table>
</body>
</html>