<div ng-controller="financeController" style="width:100%">
<div style="width:50%;float:left">
<h3 align="center">Balance</h3>
<br>
<table border="1" width="100%" class="style_table">
	<tr>
		<th ng-click="customerSort()">Customer</th>
		<th ng-click="balanceSort()">Amount</th>
	</tr>
	<tr ng-repeat="x in balances">
		<td>{{x.customer.name}}</td>
		<td>{{x.amount}}</td>
	</tr>
</table>
<br>
<input type="button" value="ADD Collection" ng-hide="collectionForm" ng-click="addCollection()">
<input type="button" value="Cancel" ng-show="collectionForm" ng-click="addCollection()">
<form ng-show="collectionForm">
<h3 align="center">Collection Form</h3>
{{customerId}}
	<table>
		<tr>
			<td>Customer</td>
			<td>
				<select ng-model="collection.customerId" ng-change="getAccounts(1)"> 
					<option ng-repeat="c in balances" value="{{c.customer.name}}">
						{{c.customer.name}}
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>
				<input type="text" ng-model="collection.amount"/>
			</td>
		</tr>
		<tr>
			<td>Transfer Type</td>
			<td>
				<select ng-model="collection.paymentType">
					<option value="0">SELF</option>
					<option value="1">Net Banking</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Account</td>
			<td>
				<select ng-model="collection.accountId"> 
					<option ng-repeat="a in collectionAccounts" value="{{a.accountNumber}}">
						{{a.accountName}}
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Ref. Number</td>
			<td>
				<input type="text" ng-model="collection.refNumber"/>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<textarea ng-model="collection.description"> </textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" value="ADD" ng-click="saveCollection()"/>
			</td>
		</tr>
	</table>
</form>	
</div>
<div style="width:50%;float:left">
<h3 align="center">Due</h3><br>
<table border="1" width="100%" class="style_table">
	<tr>
		<th ng-click="supplierSort()">Supplier</th>
		<th ng-click="dueSort()">Amount</th>
	</tr>
	<tr ng-repeat="x in dues">
		<td>{{x.supplier.name}}</td>
		<td>{{x.amount}}</td>
	</tr>
</table>
<br>
<input type="button" value="ADD Payment" ng-hide="paymentForm" ng-click="addPayment()">
<input type="button" value="Cancel" ng-show="paymentForm" ng-click="addPayment()">
<form ng-show="paymentForm">
<h3 align="center">Payment Form</h3>
	<table>
		<tr>
			<td>Supplier</td>
			<td>
				<select ng-model="payment.supplierId" ng-change="getAccounts(2)"> 
					<option ng-repeat="c in dues" value="{{c.supplier.name}}">
						{{c.supplier.name}}
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>
				<input type="text" ng-model="payment.amount"/>
			</td>
		</tr>
		<tr>
			<td>Transfer Type</td>
			<td>
				<select ng-model="payment.paymentType">
					<option value="0">SELF</option>
					<option value="1">Net Banking</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Account</td>
			<td>
				<select ng-model="payment.accountId"> 
					<option ng-repeat="a in paymentAccounts" value="{{a.accountNumber}}">
						{{a.accountName}}
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Ref. Number</td>
			<td>
				<input type="text" ng-model="payment.refNumber"/>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<textarea ng-model="payment.description"> </textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" value="ADD" ng-click="savePayment()"/>
			</td>
		</tr>
	</table>
</form>		
</div>
</div>