<div ng-controller="materialController" style="width:100%">
<div class="center" style="width:100%" >
<br>
<div>
<input  type="button" value={{buttonName}} ng-click="formToggle()" >
<div class="form_frame" ng-show="addForm">
<form id="add_form" >
<h2 align="center">Material</h2>
<ol>
	<li>
	<div>
	<table width="100%">
		<tr>
			<td width="25%"><label>Material Id</label></td>
			<td width="25%"><input type="text" ng-model="material.materialId"></td>
			<td width="25%"><label>Material Name</label></td>
			<td width="25%"><input type="text" ng-model="material.name"></td>
		</tr>
		<tr>
			<td width="25%"><label>Grade</label></td>
			<td width="25%"><input type="text" ng-model="material.grade"></td>
			<td width="25%"><label>Price per Litre</label></td>
			<td width="25%"><input type="text" ng-model="material.pricePerLit"></td>
			
			
		</tr>
	</table>
	</div>
	</li>
	<li id="send" >
	<p align="center">
		<input ng-hide="editMaterial" type="button" value="ADD" ng-click="add()">
		<input ng-show="editMaterial" type="button" value="Update" ng-click="update()">
	</p>
	</li>
</ol>
<br>
</form>
</div>
</div>

<div align="center">
<input type="radio" value="0" ng-model="sort"  ng-click="sorter(0)"/> Sort by Id 
<input type="radio" value="1" ng-model="sort" ng-click="sorter(1)"/> Sort by Name
<input type="radio" value="2" ng-model="sort" ng-click="sorter(2)"/> Sort by Grade
<input type="radio" value="3" ng-model="sort" ng-click="sorter(3)"/> Sort by Price
</div>   

<br>
	<table style="width:100%" border="2" class="style_table">
		<tr>
			<th>Material ID</th>
			<th>Material Name</th>
			<th>Grade</th>
			<th>Price Per Litre</th>
			<th>Operations</th>
		</tr>
		<tr ng-repeat="x in materials">
			<td>{{x.materialId}}</td>
			<td>{{x.name}}</td>
			<td>{{x.grade}}</td>
			<td>{{x.pricePerLit}}</td>
			<td>
				<input type="button" value="Remove" ng-click="remove(x.materialId)"/>&nbsp<input type="button" value="Edit" ng-click="edit(x.materialId)"/>
			</td>
		</tr>
	</table>
</div>
</div>