<div ng-controller="orderController">
<div class="center" style="width:70%" >
<br>
<div>
<input  type="button" value={{buttonName}} ng-click="formToggle()" >
<div class="form_frame" ng-show="addForm">
<form id="add_form" >
<h2 align="center">Orders</h2>
<ol>
	<li>
	<table>
		<tr>
			<td>
				<label>Customer</label>
			</td>
			<td>
				<select ng-model="order.customer">
				<option ng-repeat="X in customers" value={{X.name}}>{{X.name}}</option>
				</select>
			</td>
			<td>
				<label>Product</label>
			</td>
			<td>
				<select ng-model="order.productId">
				<option ng-repeat="X in products" value={{X.productId}}>{{X.name}}-{{X.grade}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>quantity</label>
			</td>
			<td>
				<input ng-model="order.quantity" type="text" name="order.quantity" id="grade_id">
			</td>
			<td>
				<label>Description</label>
			</td>
			<td>
				<textarea ng-model="order.description" name="order.description"></textarea>
			</td>
			
			
		</tr>
	</table>
	</li>
	<li id="send" >
	<p align="center">
	<input type="button" value="ADD" ng-click="add()">
	</p>
	</li>
	
	
	
</ol>
<br>
</form>
</div>
<div class="form_frame" ng-show="addDeliveryForm">
<form id="add_order" >
<h2 align="center">Delivery</h2>
<ol>
	<li>
	<table>
		<tr>
			<td>
				<label>Order Id</label>
			</td>
			<td>
			{{delivery.orderId}}
			</td>
			<td>
				<label>Quantity</label>
			</td>
			<td>
				<input type="text" ng-model="delivery.quantity" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Packaging Charge</label>
			</td>
			<td>
				<input ng-model="delivery.packagingCharge" type="text" >
			</td>
			<td>
				<label>Transport Type</label>
			</td>
			<td>
				<input ng-model="delivery.transportType" type="text" >
			</td>
			
			
			
		</tr>
		<tr>
			<td>
				<label>Parcel Service</label>
			</td>
			<td>
				<select ng-model="delivery.parcelServiceId">
					<option ng-repeat="T in transports" value={{T.name}}>{{T.name}}</option>
				</select>
			</td>
			<td>
				<label>Reference Number</label>
			</td>
			<td>
				<input ng-model="delivery.refNumber" type="text" >
			</td>
			
			
		</tr>
		
		<tr>
			<td>
				<label>Description</label>
			</td>
			<td>
				<input ng-model="delivery.description" type="text" >
			</td>
			<td>
				<label>Date</label>
			</td>
			<td>
				<input ng-model="delivery.dateString" type="text" >
			</td>
		</tr>
	</table>
	</li>
	<li id="send" >
	<p align="center">
	<input type="button" value="ADD" ng-click="deliver()">
	</p>
	</li>
	
	
	
</ol>
<br>
</form>
</div>
</div>

   

<br>
	<table style="width:100%" border="2" class="style_table">
		<tr>
			<th ng-click="sorter(0)">Order Date</th>
			<th ng-click="sorter(1)">Customer</th>
			<th ng-click="sorter(2)">Product</th>
			<th ng-click="sorter(3)">Quantity</th>
			<th>Description</th>
			<th>Status</th>
			<th>Operations</th>
		</tr>
		<tr ng-repeat="x in orders">
			
			<td>{{x.dateString}}</td>
			<td>{{x.customer}}</td>
			<td>{{x.product.name}}</td>
			<td>{{x.quantity}}</td>
			<td>{{x.description}}</td>
			<td>{{x.refOrderStatus.status}}</td>
			<td><input type="button" value="Cancel" ng-click="cancel(x.orderId)"/>&nbsp<input type="button" value="Deliver" ng-click="switchDeliveryForm(x)"/></td>
		</tr>
	</table>
</div>
<div class="right" style="width:30%;"><br>
<div class="listRight" id="editProfile">
Cumulative Pending Orders
<table style="width:100%" border="2" class="style_table">
		<tr>
			<th>Product</th>
			<th>Quantity</th>
		</tr>
		<tr ng-repeat="x in productTotal">
			
			<td>{{x[0]}}</td>
			<td>{{x[1]}}</td>
		</tr>
</table>
<br>
<div ng-repeat="c in customerWiseProduct">
{{c[0]}}'s Pending Orders
<table style="width:100%" border="2" class="style_table">
		<tr>
			<th>Product</th>
			<th>Quantity</th>
		</tr>
		<tr ng-repeat="x in c[1]">
			
			<td>{{x[0]}}</td>
			<td>{{x[1]}}</td>
		</tr>
</table>
</div>
</div>
</div>
</div>