<div ng-controller="settingsController">
<div class="center" style="width:100%" >
<div class="menu_bar">
<div class="active"><input type="button" ng-click="setInnerMenu(1)" value="Products"/></div>
<div><input type="button" ng-click="setInnerMenu(2)" value="Materials"/></div>
<div><input type="button" ng-click="setInnerMenu(3)" value="Supplier"/></div> 
<div><input type="button" ng-click="setInnerMenu(4)" value="Customer"/></div>
</div>
<div ng-include="innerPage">
</div>
</div>
</div>