<div ng-controller="stockController" style="width:100%">
<div style="width:100%">
<input type="button" value={{formLable}} ng-click="setUseForm()"/>
	<form ng-show="useForm">
		<table style="width:80%;margin-left:10%;margin-right:10%;text-align: center" >
			<tr>
				<td colspan="2" style=""><h3>Product to Manufacture</h3><br><br></td>
			</tr>
			<tr>
				<td>	
					<select ng-model="productToProduce">
						<option ng-repeat="x in products" value={{x.productId}}>
						{{x.name}}
						</option>
					</select>
				</td>
				<td>	
					Quantity: <input type="text" ng-model="quantityToProduce">
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center"><h4>Materials to Use</h4><br><br></td>
			</tr>
			<tr>
				<td>	
					<div ng-repeat="v in materialsToUse">{{v.material.name}}</div>	
					<select ng-model="materialToUse">
						<option ng-repeat="x in stocks" value={{x.materialId}}>
						{{x.material.name}}
						</option>
					</select>
				</td>
				<td>
					<div ng-repeat="v in materialsToUse">{{v.quantity}}</div>	
					Quantity: <input type="text" ng-model="quantityToUse"><br>
				</td>
			</tr>
			<tr>
				<td colspan="2">	
					<input type="button" value="Remove Last" ng-click="removeLastMaterial()"/>	
					<input type="button" value="ADD" ng-click="addMaterial()"/>&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="2">	
					<input type="button" value="Produce" ng-click="produce()"/>	
				</td>
			</tr>
		</table>
	</form>
</div>
<br>
<div style="width:50%;float:left">
<h3 align="center">Product</h3><br>
<table border="1" width="100%" class="style_table">
	<tr>
		<th>Product</th>
		<th>Stock</th>
	</tr>
	<tr ng-repeat="x in inventory">
		<td>{{x.product.name}}</td>
		<td>{{x.quantity}}</td>
	</tr>
</table>	
</div>
<div style="width:50%;float:left">
<h3 align="center">Material</h3><br>
<table border="1" width="100%" class="style_table">
	<tr>
		<th>Material</th>
		<th>Stock</th>
	</tr>
	<tr ng-repeat="x in stocks">
		<td>{{x.material.name}}</td>
		<td>{{x.quantity}}</td>
	</tr>
</table>	
</div>
<br>

</div>