<div ng-controller="supplierController" style="width:100%">

<div>
<input  type="button" value={{buttonName}} ng-click="formToggle()" >
<div class="form_frame" ng-show="addForm">
<form id="add_form" >
<h2 align="center">supplier</h2>
<ol>
	<li>
	<div>
	<table width="100%">
		<tr>
			<td><label>Name</label></td>
			<td><input type="text" ng-model="supplier.name" ></td>
			<td><label>Address</label></td>
			<td><input type="text" ng-model="supplier.address1" ></td>
		</tr>
		<tr>
			<td><label>Company Name</label></td>
			<td><input type="text" ng-model="supplier.company"></td>
			<td><label></label></td>
			<td><input type="text" ng-model="supplier.address2"></td>
			
			
		</tr>
		<tr>
			<td><label>Phone</label></td>
			<td><input type="text"  maxlength="10" ng-model="supplier.mobile"></td>
			<td><label></label></td>
			<td><input type="text" ng-model="supplier.address3"></td>
			
		</tr>
		<tr>
			<td><label>E-mail</label></td>
			<td><input type="text" ng-model="supplier.EMail"></td>
			<td><label>Pin</label></td>
			<td><input type="text" ng-model="supplier.pincode"></td>
			
		</tr>
		<tr>
			<td colspan="4">
				<div align="center">Account Details</div>
				<input type="button" value="Add Account" ng-click="addAccount()"/><br>
				<table width="100%" border="2" class="style_table">
					<tr>
						<th>Account Name</th>
						<th>IFSC Code</th>
						<th>Account Number</th>
						<th>Account Type</th>
						<th>Description</th>
					</tr>
					<tr ng-repeat="a in supplier.accounts">
						<td><input type="text" ng-model="a.accountName"/></td>
						<td><input type="text" ng-model="a.ifsc"/></td>
						<td><input type="text" ng-model="a.accountNumber"/></td>
						<td><input type="text" ng-model="a.accountType"/></td>
						<td><input type="text" ng-model="a.description"/></td>
						<td>
							<input type="button" value="Remove" ng-click="removeAccount(a.accountNumber)"/>
						</td>
					</tr>	
				</table>
			</td>
		</tr>
	</table>
	</div>
	</li>
	<li id="send" >
	<p align="center">
		<input ng-hide="editSupplier" type="button" value="ADD" ng-click="add()">
		<input ng-show="editSupplier" type="button" value="Update" ng-click="update()">
	</p>
	</li>
</ol>
<br>
</form>
</div>
</div>
<br>
	<table border="2" width="100%" class="style_table">
	<tr>
		<th>Customer Name</th>
		<th>Company Name</th>
		<th>Address</th>
		<th>mobile</th>
		<th>Email</th>
		<th>Operations</th>
		
	</tr>
		<tr ng-repeat="x in suppliers">
			<td>{{x.name}}</td>
			<td>{{x.company}}</td>
			<td>{{x.address1}},{{x.address2}},{{x.address3}}-{{x.pincode}}</td>
			<td>{{x.mobile}}</td>
			<td>{{x.EMail}}</td>
			<td>
				<input type="button" value="Remove" ng-click="remove(x.name)"/>&nbsp<input type="button" value="Edit" ng-click="edit(x.name)"/>
			</td>
		</tr>
	</table>
</div>