<div ng-controller="supplyController" style="width:100%">

<div>
<input  type="button" value={{buttonName}} ng-click="formToggle()" >
<div class="form_frame" ng-show="addForm">
<form id="add_form" >
<h2 align="center">supply</h2>
<ol>
	<li>
	<div>
	<table width="100%">
		<tr>
			<td><label>Material</label></td>
			<td>
				<select ng-model="supply.materialId">
					<option ng-repeat="M in materials" value={{M.materialId}}>{{M.name}}</option>
				</select>
			</td>
			<td><label>Supplier</label></td>
			<td>
				<select ng-model="supply.supplierId">
					<option ng-repeat="M in suppliers" value={{M.name}}>{{M.name}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>Quantity</label></td>
			<td><input type="text" ng-model="supply.quantity"></td>
			<td><label>Parcel Service</label></td>
			<td>
				<select ng-model="supply.parcelServiceId">
					<option ng-repeat="T in transports" value={{T.name}}>{{T.name}}</option>
				</select>
			</td>
			
			
		</tr>
		<tr>
			<td><label>Reference Number</label></td>
			<td><input type="text"  maxlength="10" ng-model="supply.refNumber"></td>
			<td><label>Transport Charge</label></td>
			<td><input type="text" ng-model="supply.transportCharge"></td>
			
		</tr>
		<tr>
			<td><label>Description</label></td>
			<td><input type="text" ng-model="supply.description"></td>
			
		</tr>
	</table>
	</div>
	</li>
	<li id="send" >
	<p align="center">
		<input ng-hide="editSupply" type="button" value="ADD" ng-click="add()">
		<input ng-show="editSupply" type="button" value="Update" ng-click="update()">
	</p>
	</li>
</ol>
<br>
</form>
</div>
</div>
<br>
<table border="2" width="100%" class="style_table">
	<tr>
		<th>Material</th>
		<th>Supplier</th>
		<th>Quantity</th>
		<th>Parcel Service</th>
		<th>Reference Number</th>
		<th>Transport Charge</th>
		<th>Description</th>
		<th></th>
		
	</tr>
	<tr ng-repeat="x in supplies">
		<td>{{x.materialId}}</td>
		<td>{{x.supplierId}}</td>
		<td>{{x.quantity}}</td>
		<td>{{x.parcelServiceId}}</td>
		<td>{{x.refNumber}}</td>
		<td>{{x.transportCharge}}</td>
		<td>{{x.description}}</td>
		<td>
			<input type="button" value="Remove" ng-click="remove(x)"/>
		</td>
	</tr>
</table>
</div>