@CHARSET "ISO-8859-1";
BODY {	
	background-color: #3B5998; 
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 1000px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
	border: 2px;
	border-style: solid;
	border-color: #c4daff;
}
#title
{
position:relative;
width:200px;
height :50px;
margin: 5px 800px;
padding :10px 5px;
}
#titleimg
{
position : absolute;
width :50px;
height :50px;
margin: 13px 745px;
}
#banner
{
position:relative;
width:1000px;
height : 50px;
margin : 10px 0px;
}
#container
{
margin: 23px 5px;
position: relative; 
}
#book
{
margin: 25px 25px;
width : 455px;
height : 330px;
background : #e8eefa;
border: 2px;
border-style: solid;
border-color: #c4daff;
position: relative;
}
#fill
{
margin: 5px 4px;
width : 430px;
height : 610px;
border: medium;
border-style: solid;
}
#bookmenu
{
margin: 0;
padding: 0;
background :silver no-repeat;
width : 430px;
height : 45px;
background :url("menu.png");
}
#booking
{
margin : 10px 13px;
width : 400px;
height : 550px;
clear :both;
}
#message
{
background : url("message1.png") no-repeat ;
width : 500px;
height : 300px;
margin : 10px 40px;
padding : 25px 25px;
position : absolute;
}
#logo
{
width :400px;
height :400px;
margin : 15px 600px;
position :relative;
}
#carmenu
{
width : 1000px;
height :50px;
position :absolute;
margin :4px 4px;
padding : 10px 25px;
}
#about
{
width : 100px;
height :45px;
position :absolute;
margin :4px 670px;
padding : 12px 9px;
}#contact
{
width : 130px;
height :45px;
position :absolute;
margin :4px 795px;
padding : 12px 9px;
}
#logomain
{
position : absolute;
width : 217px;
height: 40px;
margin :12px 20px
}
#welcome
{
position :  absolute;
margin: 0px 512px;
width : 455px;
}
#edit
{
position : absolute;
width : 455px;
margin: 195px 520px;
background :url("message2.png") no-repeat;
height :180px;
padding : 25px 25px;
}
#selectcab
{
width : 900px;
margin : 25px 37px; 
}
#booknext
{
width : 400px;
height : 450px;
background :url("/lords/booknext.png") no-repeat;
padding : 25px 25px;
margin : 35px 55px;
}
#search
{
width :950px;
height :auto;
}
#logomain
{
width :200px;
height :50px;
position : absolute; 
padding : 0px 20px;
}
#footer
{
position:relative;
width:1000px;
background :url("mainmenu.png");
height : 50px;
box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
}