
.content {
  margin-top: 1em;
  margin-bottom: 1em;
}

::selection {
  background: #9bdd62;
  color: rgba(255, 255, 255, 0.847656);
}

::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.847656);
  background: #9bdd62;
}

.content p{
  color: #555;
  font-size: 1.4em;
  line-height: 1.3em;
}

.content p.small {
  font-size: 1.1em;
}

.content h1 {
  font-size: 2.5em;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255, 0.9) 0 1px 0px;
  font-weight: bold;
  
}

.content a, .content a:visited {
  color: #4083A9;
  text-decoration: none;
}

.content a:hover {
  color: #234E6C;
}

.ui-progress-bar {
  margin-top: 3em;
  margin-bottom: 3em;
}